.container.login-page {
  color: #c500cd;
  padding: 2.5rem 5rem;
}

.container.login-page > .row {
  background-color: #ffffff;
  padding: 1.5rem;
}

.container.login-page > .row > label { padding: 0.5rem 0; }

.container.login-page > .row > input {
  color: #858993;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
}

.container.login-page > .row > input:focus { outline: none; }

.container.login-page > .row.alert {
  color: #a24747;
  padding: 0;
}

.container.login-page > .row:nth-child(4) > a {
  color: #858993;
  padding-top: 2rem;
  text-align: center;
  width: 100%;
}

.container.login-page > .row:nth-child(5) { padding: 1.5rem; }

.container.login-page > .row:nth-child(5) > button {
  background-color: #c500cd;
  border: none;
  color: #ffffff;
  font-size: 1.8rem;
  padding: 1.5rem 2rem;
  width: 100%;
}

.container.login-page > .row:nth-child(5) > button:active { background-color: #7b1e7e }

.container.login-page > .row:nth-child(5) > button:focus { outline: none; }
